<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing flex">

    {% if settings.share_facebook %}
        <a class="px-3 py-1 mr-3 border border-gray-800" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank">
            <div class="flex inline-block">
                {% include 'icon-facebook' %}
                <span aria-hidden="true" class="uppercase text-xs font-bold text-gray-800 ml-2">{{ 'general.social.share_on_facebook' | t }}</span>
            </div>
            <!-- <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span> -->
        </a>
    {% endif %}

    {% if settings.share_twitter %}
        <a class="px-3 py-1 mr-3 border border-gray-800" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" target="_blank">
            <div class="flex inline-block">
                {% include 'icon-twitter' %}
                <span aria-hidden="true" class="uppercase text-xs font-bold text-gray-800 ml-2">{{ 'general.social.share_on_twitter' | t }}</span>
            </div>
            <!-- <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span> -->
        </a>
    {% endif %}

    {% if settings.share_pinterest %}
        <a class="px-3 py-1 mr-3 border border-gray-800" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" target="_blank">
            <div class="flex inline-block">
                {% include 'icon-pinterest' %}
                <span aria-hidden="true" class="uppercase text-xs font-bold text-gray-800 ml-2">{{ 'general.social.share_on_pinterest' | t }}</span>
            </div>
            <!-- <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span> -->
        </a>
    {% endif %}

</div>
