<section data-section-id="{{ section.id }}" data-section-type="product">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <div class="sec-cont-max-w block pt-22px px-22px md:flex md:pt-55px md:px-55px">
        <div class="w-full md:w-1/2">
            <div class="img-container w-full mb-30px">

                {% for image in product.images %}
                    {% capture wrapper_class %}
                        {%- unless featured_image == image -%}
                            hide
                        {%- endunless -%}
                    {% endcapture %}

                    {% include 'responsive-image' with
                              image: image,
                              max_width: 700,
                              max_height: 800,
                              image_attributes: "data-product-featured-image",
                              wrapper_class: wrapper_class,
                              wrapper_attributes: "data-product-image-wrapper",
                            %}
                {% endfor %}

                {% if product.images.size > 1 %}
                    <ul>
                        {% for image in product.images %}
                            <li>
                                <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail {% if featured_image == image %} aria-current="true" {% endif %}>
                                    <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="w-full md:w-1/2">

            <h1 class="mb-2 text-mbl-prod-title font-bold text-gray-800 leading-tight md:text-desk-prod-title">{{ product.title }}</h1>

            <div data-price-wrapper>
                <span class="text-red-active font-bold text-base mr-2 md:text-xl" data-product-price>
                    {{ current_variant.price | money }}
                </span>

                {% if product.compare_at_price_max > product.price %}
                    <!-- <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span> -->
                    <span class="font-bold text-base md:text-xl" data-compare-price>
                        {% if current_variant.compare_at_price > current_variant.price %}
                            <span class="line-through mr-2">{{ current_variant.compare_at_price | money }}</span>
                            <span class="inline-block px-2 bg-red-active text-white text-xs">SALE</span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>

            <!-- <p>{{ product.vendor }}</p> -->
            {%include 'product-form'%}

            <div class="rte my-10">
                {{ product.description }}
            </div>

            {% if section.settings.show_share_buttons %}
                {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}

        </div>
    </div>

</section>

{% schema %}

{
    "name": "Product pages",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_share_buttons",
            "label": "Show social sharing buttons",
            "default": true
        }
    ]
}

{% endschema %}
